*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: url(background.webp);}
.main
{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.progress
{
    background-color: #FF6969;
    width: 0px;
    height: 2px;
    animation: load 5s ease-in-out 0s 1;
}
@keyframes load
{
    from
    {
        width: 0px;
    }
    to
    {
        width: 100vw;
    }
}
.container
{
    margin: 50px;
    background-color: #454545;
    color: white;
    height: 632px;
    width: 450px;
    border-radius: 5px;
    text-align: center;
}
input
{
    width: 80%;
    height: 32px;
    
}
button
{
    width:80%;
    height: 32px;
    border-radius: 50px;
    background-color: #FF6969;
    color: white;
    transition-property: all;
    transition-duration: .5s;
}
button:hover
{
    width: 85%;
    height: 35px;
}
.fb
{
    background-color:#FF6969;
    color: white;
}
button:hover
{
    cursor: pointer;
}
.b a 
{
    color: white;
    text-decoration: none;
}
input
{
    border-radius: 10px;
}
a
{
    color: #FF6969;
}
.input_2{
    margin-right:9px;
}